<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="accessToken" value="[access token here]"/>
    <add key="deviceId" value="[device id here]"/>
  </appSettings>
</configuration>